body {
  margin: 20px 20px;
  padding: 0;
}
.container1 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  border-bottom: 1px solid black;
  margin-bottom: 0;
}

.pop {
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
  font-family: "DotGothic16", serif;
}
.art{
  font-family: "DotGothic16", serif;
  color: rgb(217, 70, 183);
}
.info {
  display: flex;
  align-items: center;
  font-size: 25px;
  gap: 15px;
  padding: 5px 10px;
  margin-right: 10px;
}
.info .t {
  font-family: "DotGothic16", serif;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.info .t:active {
  box-shadow: rgba(1, 1, 1, 0.35) 0px 5px 15px;
  background-color: rgb(239, 235, 15);
  color: black;
}

.heading {
  text-align: center;
  font-size: 55px;
  font-family: "DotGothic16", serif;
  text-transform: none;
}
.img1 {
  width: 100%;
  height: 600px;
}

.container2 {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
  gap: 20px;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
}

.container2 img {
  width: 100%; 
}
.project {
  font-weight: 800;
}

.para {
  margin-top: 60px;
  font-size: 30px;
  text-align: start;
  margin-left: 50%;
  margin-right: 0;
}

.container3 {
  margin-top: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn-subscribe {
  background-color: blue;
  color: white;
  border: none;
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.btn-subscribe:active {
  background-color: rgb(214, 15, 15);
}
.input-email {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 150px;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 20px;
  text-align: left;
}

.stay {
  font-size: 40px;
}

.img-contact {
  width: 60px;
  height: 60px;
  margin: 10px 2px;
  cursor: pointer;
}
.stay {
  font-family: "DotGothic16", serif;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.contact-me {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}

@media only screen and (max-width: 767px){
  .pop {
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
    font-family: "DotGothic16", serif;
  }
  .info {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 15px;
  }
  .heading {
    text-align: center;
    font-size: 20px;
    font-family: "DotGothic16", serif;
    font-weight: 0;
  }  
  .img1 {
    width: 100%;
    height: 300px;
  }
  .container2 {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
  }
  
  .container2 img {
    width: 220px;
  }
  .project {
    font-weight: 800;
  }
  .para {
    margin-top: 60px;
    font-size: 20px;
    text-align: start;
    margin-left: 30%;
    margin-right: 0;
  }
  .container3 {
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .para {
    margin-top: 60px;
    font-size: 20px;
    text-align: center;
    margin-left: 1%;
    
  }

  .btn-subscribe {
    margin-top: 10px;
  }
  
}
@media (max-width: 480px) {
  .info {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center; 
    gap: 10px; 
    padding: 1px 1px;
  }

  .info .t {
    width: 45%; 
    text-align: center; 
    font-size: 12px; 
  }
  .heading {
    text-align: center;
    font-size: 15px;
    font-family: "DotGothic16", serif;
    font-weight: 0;
  }  
  .img1 {
    width: 100%;
    height: 200px;
  }
  .container2 {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
  }
  .container2 img {
    width: 110px;
  }
  .project {
    font-weight: 800;
  }
  .para {
    margin-top: 60px;
    font-size: 20px;
    text-align: center;
    
    margin-right: 0;
  }
  .container3 {
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .btn-subscribe {
    margin-top: 10px;
  }
}

